## Test and overview of the `mdf_reader` tool

First clone the [gitlab repository](https://git.noc.ac.uk/brecinosrivas/mdf_reader) and modify the path in `sys.path.append()` with the directory path where you store the `mdf_reader` repository.

In [1]:
import os
import sys
sys.path.append('/home/bea/')
import mdf_reader
import json

2020-12-10 09:49:38,429 - root - INFO - init basic configure of logging success

The `mdf_reader` is a python3 tool designed to read data files compliant with a user specified [data
model](https://cds.climate.copernicus.eu/toolbox/doc/how-to/15_how_to_understand_the_common_data_model/15_how_to_understand_the_common_data_model.html). 

It was developed with the initial idea to read the [IMMA](https://icoads.noaa.gov/e-doc/imma/R3.0-imma1.pdf) data format, but it was further enhanced to account for other meteorological data formats. 

Lets see an example for a typical file from [ICOADSv3.0.](https://icoads.noaa.gov/r3.html). We pick an specific montly output for a Source/Deck. In this case data from the Marine Meterological Journals data set SID/DCK: **125-704 for Oct 1878.**

The `.imma` file looks like this:

In [2]:
import pandas as pd

data_path = os.path.join('~/c3s_work','mdf_reader/tests/data/125-704_1878-10_subset.imma')
data_ori = pd.read_table(data_path)

/home/bea/.virtualenvs/c3s/lib/python3.6/site-packages/ipykernel_launcher.py:4: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  after removing the cwd from sys.path.

In [3]:
data_ori.head()

  18781020 600 4228 29159 130623  10Panay      12325123       9961                         4                   165 17128704125 5 0  1                1FF111F11AAA1AAAA1AAA     9815020N163002199 0 100200180003Panay                     78011118737S.P.Bray,Jr    013231190214        Bulkhead of cabin        1- .1022200200180014Boston              Rio de Janeiro      300200180014001518781020               4220N 6630W 10 E      400200180014001518781020102 85 EXS             WSW           0629601 58             BOC  CU05R
0  18781020 800 4231 29197 130623  10Panay      1...
1  187810201000 4233 29236 130623  10Panay      1...
2  187810201200 4235 29271 130623  10Panay      1...
3  187810201400 4237 29310 130623  10Panay      1...
4  187810201600 4233 29350 130423  10Panay      1...

Very messy to just read into python! 

This is why we need the `mdf_reader` tool, to helps us put those imma files in a [pandas.DataFrame](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html) format. For that we need need a **schema**.

A **schema** file gathers a collection of descriptors that enable the `mdf_reader` tool to access the content
of a `data model/ schema` and extract the sections of the raw data file that contains meaningful information. These **schema files** are the `bones` of the data model, basically `.json` files outlining the structure of the incoming raw data.

The `mdf_reader` takes this information and translate the characteristics of the data to a python pandas dataframe.

The tool has several **schema** templates build in.

In [4]:
template_names = mdf_reader.schemas.templates()

In [5]:
template_names

['fixed_width_complex_exc',
 'delimited_sections',
 'delimited_basic',
 'fixed_width_complex_opt',
 'fixed_width_sections',
 'fixed_width_basic']

As well as templates for `code_tables` which are `.json` files containing keys to describe complex metereological variables like weather forcast or sea state conditions.

In [6]:
template_tables = mdf_reader.code_tables.templates()
template_tables

['nested', 'range_keyed_nested', 'simple', 'range_keyed_simple']

**Schemas** can be desinged to be deck specific like the example below

In [7]:
schema = 'imma1_d704'

data_file_path = '/home/bea/c3s_work/mdf_reader/tests/data/125-704_1878-10_subset.imma'

data = mdf_reader.read(data_file_path, data_model = schema)

2020-12-10 09:54:39,637 - root - INFO - READING DATA MODEL SCHEMA FILE...
2020-12-10 09:54:39,650 - root - INFO - EXTRACTING DATA FROM MODEL: imma1_d704
2020-12-10 09:54:39,652 - root - INFO - Getting data string from source...
2020-12-10 09:54:39,672 - root - INFO - Extracting and reading sections
2020-12-10 09:54:39,678 - root - INFO - Processing section partitioning threads
2020-12-10 09:54:39,679 - root - INFO - 1000 ...
2020-12-10 09:54:39,713 - root - INFO - done
2020-12-10 09:54:39,718 - root - INFO - 211000 ...
2020-12-10 09:54:39,761 - root - INFO - done
2020-12-10 09:54:39,762 - root - INFO - 29211000 ...
2020-12-10 09:54:39,793 - root - INFO - done
2020-12-10 09:54:39,794 - root - INFO - 3029211000 ...
2020-12-10 09:54:39,802 - root - INFO - done
2020-12-10 09:54:39,803 - root - INFO - 303029211000 ...
2020-12-10 09:54:39,809 - root - INFO - done
2020-12-10 09:54:39,813 - root - INFO - 30303029211000 ...
2020-12-10 09:54:39,821 - root - INFO - done
2020-12-10 09:54:39,822 - root - INFO - 3030303029211000 ...
2020-12-10 09:54:39,851 - root - INFO - done
2020-12-10 09:54:39,854 - root - INFO - 413030303029211000 ...
2020-12-10 09:54:39,863 - root - INFO - done

Reading section core
Reading section c1
Reading section c5
Reading section c6
Reading section c7
Reading section c8
Reading section c9
Reading section c95
Reading section c96
Reading section c97
Reading section c98
Reading section c99_sentinal
Reading section c99_journal
Reading section c99_voyage
Reading section c99_daily
Reading section c99_data4
Reading section c99_data5

2020-12-10 09:54:43,137 - root - WARNING - Data numeric elements with missing upper or lower threshold: ('c1', 'BSI'),('c1', 'AQZ'),('c1', 'AQA'),('c1', 'UQZ'),('c1', 'UQA'),('c1', 'VQZ'),('c1', 'VQA'),('c1', 'PQZ'),('c1', 'PQA'),('c1', 'DQZ'),('c1', 'DQA'),('c5', 'OS'),('c5', 'OP'),('c5', 'FM'),('c5', 'IMMV'),('c5', 'IX'),('c5', 'W2'),('c5', 'WMI'),('c5', 'SD2'),('c5', 'SP2'),('c5', 'IS'),('c5', 'RS'),('c5', 'IC1'),('c5', 'IC2'),('c5', 'IC3'),('c5', 'IC4'),('c5', 'IC5'),('c5', 'IR'),('c5', 'RRR'),('c5', 'TR'),('c5', 'NU'),('c5', 'QCI'),('c5', 'QI1'),('c5', 'QI2'),('c5', 'QI3'),('c5', 'QI4'),('c5', 'QI5'),('c5', 'QI6'),('c5', 'QI7'),('c5', 'QI8'),('c5', 'QI9'),('c5', 'QI10'),('c5', 'QI11'),('c5', 'QI12'),('c5', 'QI13'),('c5', 'QI14'),('c5', 'QI15'),('c5', 'QI16'),('c5', 'QI17'),('c5', 'QI18'),('c5', 'QI19'),('c5', 'QI20'),('c5', 'QI21'),('c5', 'QI22'),('c5', 'QI23'),('c5', 'QI24'),('c5', 'QI25'),('c5', 'QI26'),('c5', 'QI27'),('c5', 'QI28'),('c5', 'QI29'),('c5', 'RHI'),('c5', 'AWSI'),('c6', 'FBSRC'),('c6', 'MST'),('c7', 'OPM'),('c7', 'LOT'),('c9', 'CCe'),('c9', 'WWe'),('c9', 'Ne'),('c9', 'NHe'),('c9', 'He'),('c9', 'CLe'),('c9', 'CMe'),('c9', 'CHe'),('c9', 'SBI'),('c95', 'DPRO'),('c95', 'DPRP'),('c95', 'UFR'),('c95', 'ASIR'),('c96', 'ASII'),('c97', 'ASIE'),('c99_journal', 'vessel_length'),('c99_journal', 'vessel_beam'),('c99_journal', 'hold_depth'),('c99_journal', 'tonnage'),('c99_journal', 'baro_height'),('c99_daily', 'year'),('c99_daily', 'month'),('c99_daily', 'day'),('c99_daily', 'distance'),('c99_daily', 'lat_deg_an'),('c99_daily', 'lat_min_an'),('c99_daily', 'lon_deg_an'),('c99_daily', 'lon_min_an'),('c99_daily', 'lat_deg_on'),('c99_daily', 'lat_min_on'),('c99_daily', 'lon_deg_of'),('c99_daily', 'lon_min_of'),('c99_daily', 'current_speed'),('c99_data4', 'year'),('c99_data4', 'month'),('c99_data4', 'day'),('c99_data4', 'hour'),('c99_data4', 'ship_speed'),('c99_data4', 'compass_correction'),('c99_data4', 'attached_thermometer'),('c99_data4', 'air_temperature'),('c99_data4', 'wet_bulb_temperature'),('c99_data4', 'sea_temperature'),('c99_data4', 'sky_clear'),('c99_data5', 'year'),('c99_data5', 'month'),('c99_data5', 'day'),('c99_data5', 'hour'),('c99_data5', 'ship_speed'),('c99_data5', 'attached_thermometer'),('c99_data5', 'air_temperature'),('c99_data5', 'wet_bulb_temperature'),('c99_data5', 'sea_temperature'),('c99_data5', 'sky_clear'),('c99_data5', 'compass_correction')
2020-12-10 09:54:43,138 - root - WARNING - Corresponding upper and/or lower bounds set to +/-inf for validation
2020-12-10 09:54:44,849 - root - ERROR - Code table not defined for element ('c99_data4', 'present_weather')
2020-12-10 09:54:44,851 - root - WARNING - Element mask set to False
2020-12-10 09:54:44,853 - root - ERROR - Code table not defined for element ('c99_data4', 'clouds')
2020-12-10 09:54:44,862 - root - WARNING - Element mask set to False
2020-12-10 09:54:44,875 - root - ERROR - Code table not defined for element ('c99_data4', 'sea_state')
2020-12-10 09:54:44,880 - root - WARNING - Element mask set to False
2020-12-10 09:54:44,883 - root - ERROR - Code table not defined for element ('c99_data5', 'time_ind')
2020-12-10 09:54:44,885 - root - WARNING - Element mask set to False
2020-12-10 09:54:44,889 - root - ERROR - Code table not defined for element ('c99_data5', 'compass_ind')
2020-12-10 09:54:44,891 - root - WARNING - Element mask set to False
2020-12-10 09:54:44,893 - root - ERROR - Code table not defined for element ('c99_data5', 'ship_course_compass')
2020-12-10 09:54:44,895 - root - WARNING - Element mask set to False
2020-12-10 09:54:44,902 - root - ERROR - Code table not defined for element ('c99_data5', 'ship_course_true')
2020-12-10 09:54:44,908 - root - WARNING - Element mask set to False
2020-12-10 09:54:44,912 - root - ERROR - Code table not defined for element ('c99_data5', 'wind_dir_mag')
2020-12-10 09:54:44,916 - root - WARNING - Element mask set to False
2020-12-10 09:54:44,918 - root - ERROR - Code table not defined for element ('c99_data5', 'wind_force')
2020-12-10 09:54:44,920 - root - WARNING - Element mask set to False
2020-12-10 09:54:44,922 - root - ERROR - Code table not defined for element ('c99_data5', 'temp_ind')
2020-12-10 09:54:44,926 - root - WARNING - Element mask set to False
2020-12-10 09:54:44,928 - root - ERROR - Code table not defined for element ('c99_data5', 'present_weather')
2020-12-10 09:54:44,932 - root - WARNING - Element mask set to False
2020-12-10 09:54:44,936 - root - ERROR - Code table not defined for element ('c99_data5', 'clouds')
2020-12-10 09:54:44,938 - root - WARNING - Element mask set to False
2020-12-10 09:54:44,940 - root - ERROR - Code table not defined for element ('c99_data5', 'sea_state')
2020-12-10 09:54:44,942 - root - WARNING - Element mask set to False
2020-12-10 09:54:44,947 - root - ERROR - Code table not defined for element ('c99_data5', 'compass_correction_ind')
2020-12-10 09:54:44,949 - root - WARNING - Element mask set to False
2020-12-10 09:54:44,954 - root - ERROR - Code table not defined for element ('c99_data5', 'compass_correction_dir')
2020-12-10 09:54:44,960 - root - WARNING - Element mask set to False
2020-12-10 09:54:46,245 - root - INFO - Wrapping output....
2020-12-10 09:54:46,490 - root - INFO - CREATING OUTPUT DATA ATTRIBUTES FROM DATA MODEL

A new **schema** can be build for a particular deck and source as shown in this notebook. The `imma1_d704` schema was build upon the `imma1` schema/data model but extra sections have been added to the `.json` files to include suplemental data from ICOADS documentation. This is a snapshot of the data inside the `imma1_d704.json`.
```
"c99_journal": {
            "header": {"sentinal": "1", "field_layout":"fixed_width","length": 117},
            "elements": {
              "sentinal":{
                  "description": "Journal header record identifier",
                  "field_length": 1,
                  "column_type": "str"
              },
              "reel_no":{
                  "description": "Microfilm reel number. See if we want the zero padding or not...",
                  "field_length": 3,
                  "column_type": "str",
                  "LMR6": true
              }

```

Now metadata information can be extracted as a component of the padas dataframe.

In [8]:
data.data.c99_journal

,sentinal,reel_no,journal_no,frame_no,ship_name,journal_ed,rig,ship_material,vessel_type,vessel_length,...,hold_depth,tonnage,baro_type,baro_height,baro_cdate,baro_loc,baro_units,baro_cor,thermo_mount,SST_I
0,1,002,0018,0003,Panay,78,01,1,1,187,...,23,1190,2,14,NaN,Bulkhead of cabin,1,- .102,2,NaN
1,1,002,0018,0003,Panay,78,01,1,1,187,...,23,1190,2,14,NaN,Bulkhead of cabin,1,- .102,2,NaN
2,1,002,0018,0003,Panay,78,01,1,1,187,...,23,1190,2,14,NaN,Bulkhead of cabin,1,- .102,2,NaN
3,1,002,0018,0003,Panay,78,01,1,1,187,...,23,1190,2,14,NaN,Bulkhead of cabin,1,- .102,2,NaN
4,1,002,0018,0003,Panay,78,01,1,1,187,...,23,1190,2,14,NaN,Bulkhead of cabin,1,- .102,2,NaN
5,1,002,0018,0003,Panay,78,01,1,1,187,...,23,1190,2,14,NaN,Bulkhead of cabin,1,- .102,2,NaN
6,1,007,0129,0410,Emma,78,02,1,1,136,...,19,468,1,10,NaN,In the after cabin,1,- .561,1,NaN
7,1,002,0018,0003,Panay,78,01,1,1,187,...,23,1190,2,14,NaN,Bulkhead of cabin,1,- .102,2,NaN
8,1,007,0129,0410,Emma,78,02,1,1,136,...,19,468,1,10,NaN,In the after cabin,1,- .561,1,NaN
9,1,002,0033,0416,Emma C.Litchfield,78,02,1,1,128,...,17,483,1,17,01101878,After Cabin,1,+ .001,1,NaN
10,1,002,0018,0003,Panay,78,01,1,1,187,...,23,1190,2,14,NaN,Bulkhead of cabin,1,- .102,2,NaN
11,1,007,0129,0410,Emma,78,02,1,1,136,...,19,468,1,10,NaN,In the after cabin,1,- .561,1,NaN
12,1,002,0033,0416,Emma C.Litchfield,78,02,1,1,128,...,17,483,1,17,01101878,After Cabin,1,+ .001,1,NaN
13,1,002,0018,0003,Panay,78,01,1,1,187,...,23,1190,2,14,NaN,Bulkhead of cabin,1,- .102,2,NaN
14,1,007,0129,0410,Emma,78,02,1,1,136,...,19,468,1,10,NaN,In the after cabin,1,- .561,1,NaN
15,1,002,0033,0416,Emma C.Litchfield,78,02,1,1,128,...,17,483,1,17,01101878,After Cabin,1,+ .001,1,NaN
16,1,002,0018,0003,Panay,78,01,1,1,187,...,23,1190,2,14,NaN,Bulkhead of cabin,1,- .102,2,NaN
17,1,007,0129,0410,Emma,78,02,1,1,136,...,19,468,1,10,NaN,In the after cabin,1,- .561,1,NaN
18,1,002,0033,0416,Emma C.Litchfield,78,02,1,1,128,...,17,483,1,17,01101878,After Cabin,1,+ .001,1,NaN
19,1,002,0018,0003,Panay,78,01,1,1,187,...,23,1190,2,14,NaN,Bulkhead of cabin,1,- .102,2,NaN
20,1,007,0129,0410,Emma,78,02,1,1,136,...,19,468,1,10,NaN,In the after cabin,1,- .561,1,NaN
21,1,002,0033,0416,Emma C.Litchfield,78,02,1,1,128,...,17,483,1,17,01101878,After Cabin,1,+ .001,1,NaN
22,1,002,0018,0003,Panay,78,01,1,1,187,...,23,1190,2,14,NaN,Bulkhead of cabin,1,- .102,2,NaN
23,1,007,0129,0410,Emma,78,02,1,1,136,...,19,468,1,10,NaN,In the after cabin,1,- .561,1,NaN
24,1,002,0033,0416,Emma C.Litchfield,78,02,1,1,128,...,17,483,1,17,01101878,After Cabin,1,+ .001,1,NaN
25,1,002,0018,0003,Panay,78,01,1,1,187,...,23,1190,2,14,NaN,Bulkhead of cabin,1,- .102,2,NaN
26,1,007,0129,0410,Emma,78,02,1,1,136,...,19,468,1,10,NaN,In the after cabin,1,- .561,1,NaN
27,1,002,0033,0416,Emma C.Litchfield,78,02,1,1,128,...,17,483,1,17,01101878,After Cabin,1,+ .001,1,NaN
28,1,002,0018,0003,Panay,78,01,1,1,187,...,23,1190,2,14,NaN,Bulkhead of cabin,1,- .102,2,NaN
29,1,007,0129,0410,Emma,78,02,1,1,136,...,19,468,1,10,NaN,In the after cabin,1,- .561,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
435,1,007,0129,0410,Emma,78,02,1,1,136,...,19,468,1,10,NaN,In the after cabin,1,- .561,1,NaN
436,1,002,0018,0003,Panay,78,01,1,1,187,...,23,1190,2,14,NaN,Bulkhead of cabin,1,- .102,2,NaN
437,1,001,0014,0437,Jermiah Thompson,78,01,1,1,217,...,28,1904,1,15,101878,After Bulk Head Capt Room,1,+ .003,4,NaN
438,1,002,0033,0416,Emma C.Litchfield,78,02,1,1,128,...,17,483,1,17,01101878,After Cabin,1,+ .001,1,NaN
439,1,007,0129,0410,Emma,78,02,1,1,136,...,19,468,1,10,NaN,In the after cabin,1,- .561,1,NaN
440,1,002,0018,0003,Panay,78,01,1,1,187,...,23,1190,2,14,NaN,Bulkhead of cabin,1,- .102,2,NaN
441,1,001,0014,0437,Jermiah Thompson,78,01,1,1,217,...,28,1904,1,15,101878,After Bulk Head Capt Room,1,+ .003,4,NaN
442,1,002,0033,0416,Emma C.Litchfield,78,02,1,1,128,...,17,483,1,17,01101878,After Cabin,1,+ .001,1,NaN
443,1,007,0129,0410,Emma,78,02,1,1,136,...,19,468,1,10,NaN,In the after cabin,1,- .561,1,NaN
444,1,002,0018,0003,Panay,78,01,1,1,187,...,23,1190,2,14,NaN,Bulkhead of cabin,1,- .102,2,NaN
445,1,001,0014,0437,Jermiah Thompson,78,01,1,1,217,...,28,1904,1,15,101878,After Bulk Head Capt Room,1,+ .003,4,NaN
446,1,002,0033,0416,Emma C.Litchfield,78,02,1,1,128,...,17,483,1,17,01101878,After Cabin,1,+ .001,1,NaN
447,1,007,0129,0410,Emma,78,02,1,1,136,...,19,468,1,10,NaN,In the after cabin,1,- .561,1,NaN
448,1,002,0018,0003,Panay,78,01,1,1,187,...,23,1190,2,14,NaN,Bulkhead of cabin,1,- .102,2,NaN
449,1,001,0014,0437,Jermiah Thompson,78,01,1,1,217,...,28,1904,1,15,101878,After Bulk Head Capt Room,1,+ .003,4,NaN
450,1,002,0033,0416,Emma C.Litchfield,78,02,1,1,128,...,17,483,1,17,01101878,After Cabin,1,+ .001,1,NaN
451,1,007,0129,0410,Emma,78,02,1,1,136,...,19,468,1,10,NaN,In the after cabin,1,- .561,1,NaN
452,1,002,0018,0003,Panay,78,01,1,1,187,...,23,1190,2,14,NaN,Bulkhead of cabin,1,- .102,2,NaN
453,1,001,0014,0437,Jermiah Thompson,78,01,1,1,217,...,28,1904,1,15,101878,After Bulk Head Capt Room,1,+ .003,4,NaN
454,1,002,0033,0416,Emma C.Litchfield,78,02,1,1,128,...,17,483,1,17,01101878,After Cabin,1,+ .001,1,NaN
455,1,007,0129,0410,Emma,78,02,1,1,136,...,19,468,1,10,NaN,In the after cabin,1,- .561,1,NaN
456,1,002,0018,0003,Panay,78,01,1,1,187,...,23,1190,2,14,NaN,Bulkhead of cabin,1,- .102,2,NaN
457,1,001,0014,0437,Jermiah Thompson,78,01,1,1,217,...,28,1904,1,15,101878,After Bulk Head Capt Room,1,+ .003,4,NaN
458,1,002,0033,0416,Emma C.Litchfield,78,02,1,1,128,...,17,483,1,17,01101878,After Cabin,1,+ .001,1,NaN
459,1,007,0129,0410,Emma,78,02,1,1,136,...,19,468,1,10,NaN,In the after cabin,1,- .561,1,NaN
460,1,002,0018,0003,Panay,78,01,1,1,187,...,23,1190,2,14,NaN,Bulkhead of cabin,1,- .102,2,NaN
461,1,001,0014,0437,Jermiah Thompson,78,01,1,1,217,...,28,1904,1,15,101878,After Bulk Head Capt Room,1,+ .003,4,NaN
462,1,002,0033,0416,Emma C.Litchfield,78,02,1,1,128,...,17,483,1,17,01101878,After Cabin,1,+ .001,1,NaN
463,1,007,0129,0410,Emma,78,02,1,1,136,...,19,468,1,10,NaN,In the after cabin,1,- .561,1,NaN
464,1,002,0018,0003,Panay,78,01,1,1,187,...,23,1190,2,14,NaN,Bulkhead of cabin,1,- .102,2,NaN

To learn how to construc a schema or data model for a particular deck/source, visit this other tutorial. INSERT LINK TO NEXT NOTEBOOK